<a href="https://colab.research.google.com/github/V-keerththanan/FlightPricePrediction-ML-DL/blob/master/improved_version_of_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

### Load the data and cleaning the data

In [120]:
url="https://github.com/V-keerththanan/FlightPricePrediction-ML-DL/blob/master/Data_Train.xlsx?raw=true"

In [121]:
df= pd.read_excel(url)

In [122]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

shuffle the data

In [124]:
shuffled_df = shuffle(df, random_state=42)

In [125]:
shuffled_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6076,Jet Airways,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,05:45,18:15,12h 30m,1 stop,In-flight meal not included,10844
3544,GoAir,3/06/2019,Delhi,Cochin,DEL → BOM → COK,10:35,19:35,9h,1 stop,No info,4959
7313,Jet Airways,1/05/2019,Kolkata,Banglore,CCU → BOM → BLR,14:05,19:50,5h 45m,1 stop,No info,14781
5032,IndiGo,24/05/2019,Chennai,Kolkata,MAA → CCU,14:45,17:05,2h 20m,non-stop,No info,3858
2483,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,22:50,04:25 22 May,5h 35m,1 stop,In-flight meal not included,12898

In [126]:
df= shuffled_df

drop duplicate

In [127]:
df.drop_duplicates(inplace=True)

there is only 2 null values , so removing null values

In [128]:
df.dropna(inplace=True)

splitting the data

In [129]:
X=df.drop(['Price'],axis=1)
y=df['Price']

In [130]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.85,random_state=0)

In [131]:
print(len(X_train))
print("---")
print(len(y_train))

8892
---
8892

In [132]:
X_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

Change the Duration column , h to m

In [133]:
# 12h 30m
def changeDurationFormate(duration:str):
  result=duration.split()
  if len(result)==2:
    h=int(result[0][0:-1])
    m=int(result[1][0:-1])
    return h*60+m
  else:
    if 'h' in result[0]:
      h=int(result[0][0:-1])*60
      return h
    else:
      m=int(result[0][0:-1])
      return m

In [134]:
changeDurationFormate("12h 30m")

750

In [135]:
def cleanDuration(data:pd.DataFrame):
  duration=data['Duration']
  return duration.apply(changeDurationFormate)

In [136]:
X_train['Duration']=cleanDuration(X_train)
X_test['Duration']=cleanDuration(X_test)

In [137]:
X_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
2906,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 22 May,1620,1 stop,No info
9652,Multiple carriers,12/06/2019,Delhi,Cochin,DEL → BOM → COK,13:00,01:30 13 Jun,750,1 stop,No info
618,Air Asia,3/05/2019,Banglore,Delhi,BLR → DEL,04:55,07:45,170,non-stop,No info
2636,GoAir,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,23:30,07:45 19 May,495,1 stop,No info
6130,IndiGo,24/05/2019,Kolkata,Banglore,CCU → BLR,20:20,22:55,155,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
6671,Air India,24/03/2019,Kolkata,Banglore,CCU → DEL → BLR,07:00,08:55 25 Mar,1555,1 stop,No info
9667,GoAir,3/03/2019,Delhi,Cochin,DEL → HYD → COK,07:30,13:20,350,1 stop,No info
1294,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,17:30,20:25 07 Jun,1615,1 stop,No info
7227,Jet Airways,3/06/2019,Delhi,Cochin,DEL → BOM → COK,20:55,04:25 04 Jun,450,1 stop,No info
8808,IndiGo,21/06/2019,Chennai,Kolkata,MAA → CCU,14:45,17:05,140,non-stop,No info

### Feature Extraction & Engineering

Extract hour&minute from Dep_Time but drop Arrival time, because we already have Duration so Dep_time+duration=Arrival_Time

In [138]:
X_train.drop('Arrival_Time',axis=1,inplace=True)
X_test.drop('Arrival_Time',axis=1,inplace=True)

In [139]:
X_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Duration', 'Total_Stops', 'Additional_Info'],
      dtype='object')

In [140]:
X_train['Dep_Time'][0].split(":")[0]

'22'

In [141]:
def extractInfoFromDepTime(data:pd.DataFrame):
  data['Dept_Time_H']=data['Dep_Time'].apply(lambda x:int(x.split(":")[0]))
  data['Dept_Time_M']=data['Dep_Time'].apply(lambda x:int(x.split(":")[1]))
  data.drop('Dep_Time',axis=1,inplace=True)

In [142]:
extractInfoFromDepTime(X_train)
extractInfoFromDepTime(X_test)

In [143]:
X_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'Dept_Time_H',
       'Dept_Time_M'],
      dtype='object')

In [144]:
X_test.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Dept_Time_H,Dept_Time_M
2906,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,1620,1 stop,No info,16,0
9652,Multiple carriers,12/06/2019,Delhi,Cochin,DEL → BOM → COK,750,1 stop,No info,13,0
618,Air Asia,3/05/2019,Banglore,Delhi,BLR → DEL,170,non-stop,No info,4,55
2636,GoAir,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,495,1 stop,No info,23,30
6130,IndiGo,24/05/2019,Kolkata,Banglore,CCU → BLR,155,non-stop,No info,20,20

In [145]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1570 entries, 2906 to 8808
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          1570 non-null   object
 1   Date_of_Journey  1570 non-null   object
 2   Source           1570 non-null   object
 3   Destination      1570 non-null   object
 4   Route            1570 non-null   object
 5   Duration         1570 non-null   int64
 6   Total_Stops      1570 non-null   object
 7   Additional_Info  1570 non-null   object
 8   Dept_Time_H      1570 non-null   int64
 9   Dept_Time_M      1570 non-null   int64
dtypes: int64(3), object(7)
memory usage: 134.9+ KB

extract month,day,year from Date of Journey

In [146]:
def extractInfoFromDateOfJourney(data:pd.DataFrame):
  data['Date_of_Journey_day']=data['Date_of_Journey'].apply(lambda x:int(str(x).split("/")[0]))
  data['Date_of_Journey_month']=data['Date_of_Journey'].apply(lambda x:int(str(x).split("/")[1]))
  data['Date_of_Journey_year']=data['Date_of_Journey'].apply(lambda x:int(str(x).split("/")[2]))
  data.drop('Date_of_Journey',axis=1,inplace=True)

In [147]:
extractInfoFromDateOfJourney(X_train)
extractInfoFromDateOfJourney(X_test)

In [148]:
X_train.head(5)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Dept_Time_H,Dept_Time_M,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year
6157,Jet Airways,Delhi,Cochin,DEL → BDQ → BOM → COK,1060,2 stops,No info,10,45,21,3,2019
9561,IndiGo,Banglore,Delhi,BLR → DEL,180,non-stop,No info,16,55,1,4,2019
9433,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,705,1 stop,No info,6,30,24,5,2019
4509,IndiGo,Chennai,Kolkata,MAA → CCU,145,non-stop,No info,5,15,1,6,2019
8775,SpiceJet,Mumbai,Hyderabad,BOM → HYD,90,non-stop,No check-in baggage included,13,15,24,6,2019