<a href="https://colab.research.google.com/github/V-keerththanan/FlightPricePrediction-ML-DL/blob/master/improved_version_of_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

### Load the data and cleaning the data

In [79]:
url="https://github.com/V-keerththanan/FlightPricePrediction-ML-DL/blob/master/Data_Train.xlsx?raw=true"

In [80]:
df= pd.read_excel(url)

In [81]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

shuffle the data

In [83]:
shuffled_df = shuffle(df, random_state=42)

In [84]:
shuffled_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6076,Jet Airways,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,05:45,18:15,12h 30m,1 stop,In-flight meal not included,10844
3544,GoAir,3/06/2019,Delhi,Cochin,DEL → BOM → COK,10:35,19:35,9h,1 stop,No info,4959
7313,Jet Airways,1/05/2019,Kolkata,Banglore,CCU → BOM → BLR,14:05,19:50,5h 45m,1 stop,No info,14781
5032,IndiGo,24/05/2019,Chennai,Kolkata,MAA → CCU,14:45,17:05,2h 20m,non-stop,No info,3858
2483,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,22:50,04:25 22 May,5h 35m,1 stop,In-flight meal not included,12898

In [85]:
df= shuffled_df

drop duplicate

In [86]:
df.drop_duplicates(inplace=True)

there is only 2 null values , so removing null values

In [87]:
df.dropna(inplace=True)

splitting the data

In [88]:
X=df.drop(['Price'],axis=1)
y=df['Price']

In [89]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.85,random_state=0)

In [90]:
print(len(X_train))
print("---")
print(len(y_train))

8892
---
8892

In [91]:
X_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

Change the Duration column , h to m

In [92]:
# 12h 30m
def changeDurationFormate(duration:str):
  result=duration.split()
  if len(result)==2:
    h=int(result[0][0:-1])
    m=int(result[1][0:-1])
    return h*60+m
  else:
    if 'h' in result[0]:
      h=int(result[0][0:-1])*60
      return h
    else:
      m=int(result[0][0:-1])
      return m

In [93]:
changeDurationFormate("12h 30m")

750

In [94]:
def cleanDuration(data:pd.DataFrame):
  duration=data['Duration']
  return duration.apply(changeDurationFormate)

In [95]:
X_train['Duration']=cleanDuration(X_train)
X_test['Duration']=cleanDuration(X_test)

In [98]:
X_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
2906,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 22 May,1620,1 stop,No info
9652,Multiple carriers,12/06/2019,Delhi,Cochin,DEL → BOM → COK,13:00,01:30 13 Jun,750,1 stop,No info
618,Air Asia,3/05/2019,Banglore,Delhi,BLR → DEL,04:55,07:45,170,non-stop,No info
2636,GoAir,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,23:30,07:45 19 May,495,1 stop,No info
6130,IndiGo,24/05/2019,Kolkata,Banglore,CCU → BLR,20:20,22:55,155,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
6671,Air India,24/03/2019,Kolkata,Banglore,CCU → DEL → BLR,07:00,08:55 25 Mar,1555,1 stop,No info
9667,GoAir,3/03/2019,Delhi,Cochin,DEL → HYD → COK,07:30,13:20,350,1 stop,No info
1294,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,17:30,20:25 07 Jun,1615,1 stop,No info
7227,Jet Airways,3/06/2019,Delhi,Cochin,DEL → BOM → COK,20:55,04:25 04 Jun,450,1 stop,No info
8808,IndiGo,21/06/2019,Chennai,Kolkata,MAA → CCU,14:45,17:05,140,non-stop,No info